.alumni-year {
    /* background-color: rgb(177, 83, 83); */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    border-top: 3px solid #0072bb;
    border-bottom: 1px solid #0072bb;
    width: 90vw;
}

.alumni-year-child {
    /* background-color: bisque; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.alumni-card {
    /* background-color: crimson; */
    width: 20vw;
    margin: 3vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0;
}
.alumni-bottom {
    /* background-color: chartreuse; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.alumni-bottom h2,
.alumni-bottom h3,
.alumni-bottom a {
    /* background-color: antiquewhite; */
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
}
.alumni-bottom h2 {
    margin-top: 0.8rem;
    font-size: clamp(1.2rem, 1rem + 5vw, 1.4rem);
    color: #0072bb;
}
.alumni-bottom h3 {
    font-size: clamp(1rem, 1rem + 5vw, 1.2rem);
    font-weight: 500;
    color: #6e6e73;
    margin-bottom: 5px;
}
.alumni-bottom h4 {
    font-size: clamp(0.5rem, 1rem + 5vw, 1rem);
    font-weight: 500;
    /* color: #6e6e73; */
    margin-bottom: 5px;
}
.alumni-top {
    margin: 0;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 1;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.alumni-card-img {
    border-radius: 50%;
    /* height: 75%; */
    /* width: 100%; */
    /* aspect-ratio: 1; */
}

.alumni-gradyear {
    /* background-color: darkblue; */
    width: 10%;
    color: #0072bb;
}
.alumni-bar {
    /* background-color: darkorchid; */
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    margin-top: 8vh;
}

.alumni-bar button {
    width: 15vw;
    height: 100%;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    border: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #0072bb;
    border-radius: 0;
}

.alumni-bar button {
    color: #0072bb;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.alumni-bar button:hover {
    background-color: #0072bb;
    color: white;
    transition: ease-in-out;
    transition-duration: 0.3s;
    text-decoration: none;
}
.alumni-container {
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alumni-container > h1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #0072bb;
    font-size: var(--header);
    margin-top: calc((1rem + 5vw) * 1);
}
.alumni-connect {
    /* background-color: #0072BB; */
    width: 100%;
    margin-top: calc((1rem + 5vw) * 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
    padding-bottom: 4vw;
    padding-top: 2vw;
    font-family: "Raleway", sans-serif;
    color: #0072bb;
}
.alumni-connect > h2 {
    font-size: clamp(1.5rem, 1rem + 5vw, 2rem);
}
.alumni-connect button {
    font-size: clamp(1rem, 1rem + 5vw, 1.5rem);
    font-family: "Raleway", sans-serif;
    background-color: white;
    color: #0072bb;
    outline: none;
    border: none;
    padding: 1vw;
    border-radius: 20px;
    margin-top: calc((1rem + 5vw) * 0.2);
    /* transform: scale(1.2); */
}
.alumni-connect button:hover {
    background-color: #f6f5f7;
    transition-duration: 0.1s;
    border: 1px solid #0072bb;
    text-decoration: none;
}
.alumni-bar,
.alumni-gradyear {
    font-family: "Raleway", sans-serif;
}
@media only screen and (max-width: 768px) {
    .alumni-bar {
        width: 100vw;
        height: 8vh;
        /* background-color: #0072BB; */
    }
    .alumni-bar button {
        width: 20vw;
        height: 5vh;
        font-size: 2vh;
    }
    .alumni-year {
        /* background-color: #0072BB; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .alumni-year-child {
        /* background-color:#0072BB; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        flex-wrap: wrap;
        /* overflow-wrap: unset; */
    }
    .alumni-card {
        /* background-color: #F6F5F7; */
        margin: 6vh;
        transform: scale(1.5);
    }
    .alumni-bottom h2,
    .alumni-bottom h3,
    .alumni-bottom a {
        font-size: 2vh;
    }
    .alumni-gradyear {
        width: 100vw;
        text-align: center;
    }
    .alumni-connect {
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2vh;
    }
    .alumni-connect h2 {
        padding-left: 10vw;
    }
}
