.blogs-page-container {
    padding: 0 20px;
}

.all-blogs {
    margin-top: calc((1rem + 5vw) * 0.8);
}
.news-hero-image {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/upcoming_events_images/PR_cover.jpg');
}

.news-hero {
    background: url("./news_cover.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: 50% 50%;
    object-fit: cover;
    position: relative;
}

.past-events {
    margin-top: calc((1rem + 5vw) * 0.8);
    padding-bottom: calc((1rem + 5vw) * 0.4);
    border-bottom: 2px solid var(--bluish);
}

.blogs-page-title {
    font-size: var(--header);
    font-weight: 400;
    font-variant: small-caps;
    color: var(--bluish);
    margin: 40px 20px;
}

.blogs-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

@media (max-width: 768px) {
    .blogs-list {
        grid-template-columns: 1fr;
    }
}

.blog-item {
    width: 100%;
    max-width: 380px;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: 0px auto;
    border-radius: 10px;
}

.blog-item-text {
    padding: 0px 16px;
}

.blog-item-cover-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.blog-item-title {
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: var(--bluish);
    text-align: left;
}

.blog-meta {
    font-size: 14px;
    color: #6e6e73;
    margin-bottom: 5px;
}

.blog-item-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: var(--bluish);
    text-align: left;
}

.blog-item-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.blog-item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.blog-item-author {
    font-size: 14px;
    font-weight: bolder;
    color: #6e6e73;
    margin-right: 10px;
}

.blog-item-date,
.blog-item-time {
    font-size: 13px;
    font-weight: 500;
    color: var(--bluish);
    margin-right: 10px;
}

.blog-item-excerpt {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #6e6e73;
    line-height: 18px;
    text-align: left;
}
