.crew-card {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-content {
    background-color: darkgray;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
}

.profile {
    border-radius: inherit;
    height: inherit;
    width: inherit;
    align-self: center;
    object-fit: cover;
    border: none;
}

.txt-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.name {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #0072bb;
    margin: 0;
}

.position {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    color: #6e6e73;
    margin-bottom: 1px;
}
