/* body {
  margin: 0;
  font-family:'Raleway',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
} */

.home-carousel-container{
  height: 80vh;
  max-width: 1500px;
  margin-top: calc(5vw + 5rem);
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
  /* background-color: var(--white); */
}
::-webkit-scrollbar {
  display: none;
}

.stat-section {
    margin-left:calc((1rem + 5vw));
    margin-right: calc((1rem + 5vw));
    font-family: 'Raleway',sans-serif;
}


