
.abt-info{
    margin:calc((1rem + 5vw));
    font-family: 'Raleway',sans-serif;
}

.abt-header{
    font-size: var(--header);
    color: var(--bluish);
    font-variant-caps: small-caps;
    font-weight: 400;
}

.abt-content{
    margin-top: calc((0.5rem + 1.5vw)*1);
    font-size: var(--body);
    font-weight: 400;
}

.abt-descr2{
    margin-top: calc((0.5rem + 1.5vw)*0.5);
}

.stat-section{
    margin-top: calc((0.5rem + 1.5vw)*1.5);
}

.abt-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid var(--bluish); */
    /* column-gap: 5px; */
}

.abt-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid var(--bluish); */
    width: 50%;
    padding-right: 5px;
    text-align: left;
}

.abt-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    height: 100%;
    /* border: 2px solid red; */
    /* border: 2px solid var(--bluish); */
}


.embed-item {
    width:40vw;
    height: calc(0.5625 * 40vw);;
    border: 0;
    margin: 0;
    outline: 0;
}




.sv-logo{
    width:70%;
}

@media screen and (max-width: 1000px) {
    .abt-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .abt-left{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .abt-right{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .embed-item {
        width:80vw;
        height: calc(0.5625 * 80vw);
        border: none;
        outline: none;
    }
    .sv-logo{
        width:40%;
    }
}

@media screen and (max-width: 600px) {
    .sv-logo{
        width:60%;
    }
}
    
