.headinginfo {
    color: #0072BB;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-top:5vh;
}
.headinginfo>h2 {
    font-weight: 400;
    font-size: var(--header);
    font-variant: small-caps;
    margin-top:calc((1rem + 5vw)* 0.6);
}

.infowrapper {
    background-color: var(--bgcolor);
}