
.nav-logo img{
    width:40px;
    height:40px;
}

.nav-logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1rem;
}

.nav-logo>h6 {
    font-size: 24px;
    color: var(--bluish);
    font-family: 'Racing Sans One';
}

.nav-logo>h6:hover {
    text-decoration: none;
    text-decoration-line: none;
}

.nav-logo:hover{
    text-decoration: none;
    text-decoration-line: none;
}

.text {
    color: var(--bluish);
    font-size: 16px;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    /* text-transform: uppercase; */
    padding: 1rem;
}

.text.no-padding {
    padding: 0;
}

.drop-text{
    color: var(--bluish);
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
}

.drop-text:hover {
    text-decoration: none;
}

.text:hover {
    text-decoration: underline;
}

/* .text.extra-padding{
    margin:1rem 0;
} */