.nav-logo img{
    width:40px;
    height:40px;
}

.nav-logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1rem;
}

.nav-logo h6 {
    font-size: 24px;
    color: var(--bluish);
    font-family: 'Racing Sans One';
}

.text {
    color: var(--bluish);
    font-family: 'Raleway',sans-serif;
    padding-right: 1rem;
    padding-left: 1rem;
    display: inline-block;
}

.text:hover {
    text-decoration: underline;
}

.text.no-padding {
    padding: 0;
}

.drop-text {
    font-family: 'Raleway',sans-serif;
    padding-left: 1rem;
    display: inline-block;
    text-decoration: none;
}

.drop-text:hover{
    text-decoration: none;
}