.slide-left {
  width: 80vw;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20vh;
  background-color: #f6f5f7;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.3s ease; 
  width: 100%;
}

.slider-slide {
  flex: 0 0 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.slider-slide img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .slide-left {
    width: 90vw;
  }
  
  .slider-slide {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 480px) {
  .slide-left {
    width: 100vw;
  }
  
  .slider-slide {
    flex: 0 0 100%;
  }
}
