.video-link {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid var(--blue); */
}

.play-icon {
  height: calc((0.5rem + 3vw) * 4);
  width: calc((0.5rem + 3vw) * 5);
  align-self: flex-end;
  margin-right: calc((0.5rem + 3vw) * -1.5);
  /* border: 2px solid var(--blue); */
  z-index: 1;
}

.video-btn {
  font-family: "Raleway", sans-serif;
  color: var(--bluish);
  text-decoration: none;
  font-size: clamp(1rem, 0.5rem + 3vw, 2.25rem);
  z-index: 5;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding:0 20px;
  font-style: italic;
  border-radius: 15px;
  font-weight: 400;
  /* background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 4px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset; */
}

.second{
  text-align: right;
  margin-top: calc((0.5rem + 3vw) * -0.3);
}

.video-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-family: "Raleway", sans-serif;
}

.video-container {
  position: relative;
  width: 80vw;
  height: calc(0.5625 * 80vw );
  z-index: 999;
}

.video-close {
  position: fixed;
  top: 20px;
  right: 40px;
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 4px;
  z-index: 999;
}

.video-close span{
  font-size: 16px;
  font-weight: 400;
  z-index: 999;
}

.video-container iframe {
  overflow: scroll;
  width:100%;
  height: 100%;
  z-index: 999;
}

.video-overlay.active {
  display: flex;
}